.app.dark {
	background: #111;
	color: rgb(156, 156, 156);

	.chartGrid {
		stroke: rgba(228, 228, 228, $alpha: 0.22);
	}

	.table {
		background: #111;

		.tableCell {
			color: gray;
		}
	}

	.navbar {
		color: #999;
		border-color: #333;

		.search {
			border-color: gray;
		}
	}

	.sidebar {
		background: #111;
		border-color: #333;

		.top {
			.logo {
				color: #999;
			}
		}

		hr {
			border-color: #333;
		}

		ul {
			li {
				&:hover {
					background: #333;
				}

				.icon {
					color: #999;
				}
			}
		}
	}

	.datatable {
		.datagrid {
			color: gray;
			border: none;

			.viewButton,
			.deleteButton,
			.cellWithStatus {
				color: gray;
				border: none;
			}
		}
	}

    input {
        background: transparent;
        color: #fff;
    }
}
